doctype html
html
  head
    title User API
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 User API
    .container
      .sidebar
        block sidebar
      .main-content
        block content
    footer
      p 
        | API Documentation | 
        a(href="http://localhost:3000/api-docs") Click here
